<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-light">

    <!-- Ini Navegación principal -->
    <div id="mainNav">

        <nav class="sticky-top bg-secondary shadow">
            <div class="container d-none d-md-block">
                <div class="row align-items-center">
                    <div class="col-md-4 text-left">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item"><a href="">Enlace 1</a></li>
                            <li class="list-inline-item"><a href="">Enlace 2</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="#mainNav"><img src="../images/logo.png" alt="{{brand}}" class="img-fluid"></a>
                    </div>
                    <div class="col-md-4 text-right">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item"><a href="">Enlace 1</a></li>
                            <li class="list-inline-item"><a href="">Enlace 2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
    </div>
    <!-- End Navegación principal -->

    <!-- Ini Hero -->
    <header id="hero" class="shadow">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="../images/logo-grande.png" alt="{{brand}}">
                </div>
            </div>
        </div>
    </header>
    <!-- End Hero -->

</body>
</html>